@model IEnumerable<ContosoUniversity.DTOs.InstructorDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID" class="btn btn-primary">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Courses != null && ViewBag.InstructorD != null)
{
    var listCourses = (IEnumerable<ContosoUniversity.DTOs.CoursesDTO>)ViewBag.Courses;

    <h3>Course Taught by Selected Instructor:  <b>@ViewBag.InstructorD</b></h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
        </tr>
        @foreach (var item in listCourses)
        {
            <tr>
                <td>
                    @Html.ActionLink("Select", "Index", "Instructors", new { id=ViewBag.Idins, courseID = item.CourseID }, new { @class = "btn btn-primary fas fa-edit" })
                </td>
                <td>@item.CourseID</td>
                <td>@item.Title</td>
            </tr>
        }
    </table>

    @if (ViewBag.CoursesE != null)
    {
        var listStudents = (IEnumerable<ContosoUniversity.Models.Enrollment>)ViewBag.CoursesE;
        <h3>Students Enrolled in Selected Course</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Grade</th>
            </tr>
            @foreach (var item in listStudents)
            {
            <tr>
                <td>@item.Student.FullName</td>
                <td>@item.Grade</td>
            </tr>
            }
        </table>

    }
}